.image-block {
  position: relative;

  .zoom {
    position: absolute;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(49, 49, 49, 0.72);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }

    .lnr {
      font-size: 20px;
      font-weight: bold;
      color: #49caff;
    }
  }

  .default-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1eaf1;
    width: 200px;
    height: 150px;
    opacity: 0.6;

    img {
      width: auto !important;
      height: auto !important;
    }
  }
}
