<div class="image-block">
  <ng-container *ngIf="src">
    <img [src]="src" [title]="title"/>
    <div *ngIf="haveZoom" class="zoom" (click)="clickHandler();">
      <span class="lnr lnr-magnifier"></span>
    </div>
  </ng-container>
  <ng-container *ngIf="!src">
    <div class="default-image">
      <img src="assets/images/default-image.png"/>
    </div>
  </ng-container>
</div>
