<div class="cards position-relative">
  <shared-spinner *ngIf="!loaded" [overlay]="true"></shared-spinner>
  <!--
  [sortablejs]="files"
     [sortablejsOptions]="sortableJsOptions"
  -->
  <ng-container *ngIf="loaded">
    <ng-container *ngIf="mode === ModeSort">
      <div cdkDropList (cdkDropListDropped)="drop($event)"
           class="card-list card-list-sort">
        <wt-file-list-card
          cdkDrag
          *ngFor="let file of files"
          [file]="file"
          [section]="section"
          [mode]="mode"
          [itemId]="itemId"></wt-file-list-card>
      </div>
    </ng-container>
    <ng-container *ngIf="mode === ModeList">
      <div class="card-list">
        <wt-file-list-card
          *ngFor="let file of files"
          [file]="file"
          [section]="section"
          [itemId]="itemId"></wt-file-list-card>
      </div>
    </ng-container>
  </ng-container>
</div>
