@import "../../../../../../../../node_modules/@wt/scss/variables";

.image {
  text-align: center;
  background-size: cover;
  background-position: center top;
  width: 318px;
  height: 200px;
  border-radius: 6px;
  overflow: hidden;
}

.custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cards {
  display: flex;
  flex-wrap: wrap;

/*  .fuse-card {
    margin: 5px;
    position: relative;

    &:hover .cart-title {
      background: rgba(30, 33, 41, 0.82);
    }

    .top-panel {
      position: absolute;
      right: 0;
      background: #efefef80;
      border-bottom-left-radius: 12px;
    }

    .cart-title {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(30, 33, 41, 0.6);
      padding: 10px;
      display: flex;
      transition: all 0.3s linear;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;

      &.empty-title {
        background: transparent;
      }

      &.edit-title {
        background: #fff;

        button mat-icon:hover {
          color: $color_dark_grey;
        }
      }

      .h3 {
        flex-grow: 1;
        padding: 9px 5px 9px 10px;
        color: #fff;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      input {
        flex-grow: 1;
        background-color: transparent;
      }

      button {
        mat-icon {
          color: $color_grey;
          transition: all 0.2s linear;

          &:hover {
            color: #fff;
            box-shadow: 0 0 3px;
          }
        }
      }
    }
  }*/
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card-list-sort {
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.fuse-card:last-child {
  border: none;
}

.card-list.cdk-drop-list-dragging .fuse-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
