<div class="fuse-card" [ngClass]="{'fuse-card-sort': mode === ModeSort}">
  <!--<div class="custom-placeholder" *cdkDragPlaceholder></div>-->
  <div class="top-panel" fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button
            aria1-label="Сделать главным"
            title="Сделать главным"
            (click)="setMain(file.id, file.main)"
            [ngClass]="{'cursor-no-pointer': file.main}">
      <mat-icon *ngIf="!file.main">star_border</mat-icon>
      <mat-icon *ngIf="file.main">star</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Удалить файл"
      title="Удалить файл"
      class="color-red"
      (click)="fileDelete(file.id)"
    >
      <mat-icon>delete_outline</mat-icon>
    </button>
  </div>
  <div class="image"
       [ngStyle]="{'background-image': file.versions ? 'url(' + file.versions[2] + ')' : 'none'}"></div>
  <div class="p-10 cart-title p-0"
       [ngClass]="{'edit-title': file.edit, 'empty-title': !file.title}">
    <div class="width100 display-flex-space-between">
      <ng-container *ngIf="!file.edit">
        <div class="h3">{{file.title}}</div>
        <button
          mat-icon-button
          aria-label="Редактировать заголовок"
          title="Редактировать заголовок"
          (click)="file.edit = true"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="file.edit">
        <input type="text" placeholder="Enter image title..."
               (change)="changeTitle($event, file)" [value]="file.title">
        <div>
          <button
            mat-icon-button
            aria-label="Сохранить"
            title="Сохранить"
            (click)="saveTitle(file)"
          >
            <mat-icon>check</mat-icon>
          </button>
          <button
            mat-icon-button
            aria-label="Отменить"
            title="Отменить"
            (click)="file.edit = false"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
