@import "~@wt/scss/variables";

.form-field-group-title {
  border-left: 1px solid $yellow;
  border-top: 1px solid $yellow;
  color: #fcb202;
  padding: 10px 10px;
  border-top-left-radius: 6px;
  background: rgb(252,178,2);
  background: linear-gradient(90deg, rgba(252,178,2,0.2) 0%, rgba(252,178,2,0.15) 55%, rgba(252,178,2,0) 100%);
  margin-bottom: 0 !important;
}

.field-tab {
  padding-left: 25px;
  border-left: 1px solid $yellow;
}
