<h1 class="mat-dialog-title">Delete item</h1>
<div mat-dialog-content>
  <p>Do you really want to delete the record?</p>
</div>
<div mat-dialog-actions class="text-align-center">
  <button mat-button (click)="onNoClick()" class="mat-flat-button" cdkFocusInitial>Cancel</button>
  <button mat-button (click)="onYesClick()" class="mat-raised-button mat-warn">Yes</button>
</div>
