<ng-container *ngIf="form.get(fieldData.field).value">
  <div fxLayout="column"
       class="position-relative form-field"
       [formGroup]="form">
    <!--form.isSubmitted ||-->
    <ng-container [ngSwitch]="fieldData.type">

      <ng-container *ngSwitchCase="fieldTypes.FieldTypeSelect">
        <shared-form-field-select-show
          [fieldData]="fieldData"
          [form]="form"
        ></shared-form-field-select-show>
      </ng-container>

      <ng-container *ngSwitchCase="fieldTypes.FieldTypeSelectMultiple">
        <shared-form-field-select-show
          [fieldData]="fieldData"
          [form]="form"
        ></shared-form-field-select-show>
      </ng-container>

      <ng-container *ngSwitchCase="fieldTypes.FieldTypeSlideToggle">
        <label class="show-label">{{fieldData.title}}</label>
        <div class="form-field-value">{{fieldValue}}</div>
      </ng-container>

      <ng-container *ngSwitchCase="fieldTypes.FieldTypeTextarea">
          <label class="show-label">{{fieldData.title}}</label>
          <div class="form-field-value">{{fieldValue}}</div>
      </ng-container>

      <ng-container *ngSwitchCase="fieldTypes.FieldTypeTextareaEditor">
          <label class="show-label">{{fieldData.title}}</label>
          <div class="form-field-value" [innerHTML]="fieldValue"></div>
      </ng-container>

      <ng-container *ngSwitchDefault>
        <mat-label class="show-label">{{fieldData.title}}</mat-label>
        <div class="form-field-value">{{fieldValue}}</div>
      </ng-container>
    </ng-container>

    <shared-form-field-spinner *ngIf="fieldData.loading"></shared-form-field-spinner>
  </div>
</ng-container>
