@import "variables";
@import "overlay/index";
@import "ui-kit/index";

.dev-button-spinner {
  display: flex;
  justify-content: center;

  .progress-spinner {
    circle {
      stroke: #fff !important;
    }
  }
}

.mr-8 {
  margin-right: 8px;
}

.display-none {
  display: none;
}

.width100 {
  width: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.fs-18 {
  font-size: 18px;
}

.ml-5 {
  margin-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.position-relative {
  position: relative;
}

.display-flex {
  display: flex;
}

.display-flex-space-between {
  display: flex;
  /*align-content: space-between;*/
  justify-content: space-between;
}

.field-error {
  margin-top: -23px;
  margin-bottom: 20px;
}

.textarea-error .field-error {
  margin-top: 6px;
  margin-bottom: 0;
}

.form-field-error .mat-form-field-outline {
  color: #f44336 !important;
}

.text-center {
  text-align: center !important;
}
