<button
  *ngIf="styleTheme === 'basic'"
  mat-button
  [color]="color"
  [type]="type"
  [disabled]="disabled"
  [ngClass]="[size]"
  [matTooltip]="tooltip"
  [matTooltipPosition]="tooltipPosition"
  [matTooltipDisabled]="disabled"
  (click)="onClick($event)"
  [class.active]="active"
  [class.has-right-icon]="rightIcon">
  <ng-container *ngTemplateOutlet="innerButton; context: context"></ng-container>
</button>
<button
  *ngIf="styleTheme === 'raised'"
  mat-raised-button
  [color]="color"
  [type]="type"
  [disabled]="disabled"
  [ngClass]="[size]"
  [matTooltip]="tooltip"
  [matTooltipPosition]="tooltipPosition"
  [matTooltipDisabled]="disabled"
  (click)="onClick($event)"
  [class.active]="active"
  [class.has-right-icon]="rightIcon">
  <ng-container *ngTemplateOutlet="innerButton; context: context"></ng-container>
</button>
<button
  *ngIf="styleTheme === 'stroked'"
  mat-stroked-button
  [color]="color"
  [type]="type"
  [disabled]="disabled"
  [ngClass]="[size]"
  [matTooltip]="tooltip"
  [matTooltipPosition]="tooltipPosition"
  [matTooltipDisabled]="disabled"
  (click)="onClick($event)"
  [class.active]="active"
  [class.has-right-icon]="rightIcon">
  <ng-container *ngTemplateOutlet="innerButton; context: context"></ng-container>
</button>
<button
  *ngIf="styleTheme === 'flat'"
  mat-flat-button
  [color]="color"
  [type]="type"
  [disabled]="disabled"
  [ngClass]="[size]"
  [matTooltip]="tooltip"
  [matTooltipPosition]="tooltipPosition"
  [matTooltipDisabled]="disabled"
  (click)="onClick($event)"
  [class.active]="active"
  [class.has-right-icon]="rightIcon">
  <ng-container *ngTemplateOutlet="innerButton; context:{loading: loading, icon: icon, color: color, size: size}"></ng-container>
</button>
<button
  *ngIf="styleTheme === 'fab'"
  mat-fab
  [color]="color"
  [type]="type"
  [disabled]="disabled"
  [ngClass]="[size]"
  [matTooltip]="tooltip"
  [matTooltipPosition]="tooltipPosition"
  [matTooltipDisabled]="disabled"
  (click)="onClick($event)"
  [class.active]="active"
  [class.has-right-icon]="rightIcon">
  <ng-container *ngTemplateOutlet="innerButton; context: context"></ng-container>
</button>
<button
  *ngIf="styleTheme === 'mini-fab'"
  mat-mini-fab
  [color]="color"
  [type]="type"
  [disabled]="disabled"
  [ngClass]="[size]"
  [matTooltip]="tooltip"
  [matTooltipPosition]="tooltipPosition"
  [matTooltipDisabled]="disabled"
  (click)="onClick($event)"
  [class.active]="active"
  [class.has-right-icon]="rightIcon">
  <ng-container *ngTemplateOutlet="innerButton; context: context"></ng-container>
</button>
<ng-template #innerButton
             let-loading="loading"
             let-iconColor="iconColor"
             let-buttonIconSize="buttonIconSize"
             let-icon="icon">
  <shared-spinner
    @spinnerAnimation
    *ngIf="loading"
    class="loader button-loader"
    [diameter]="spinnerDiameter"></shared-spinner>
  <shared-ui-icon *ngIf="icon && !loading"
                  [color]="iconColor"
                  [size]="buttonIconSize"
                  [icon]="icon"
                  [ngClass]="[icon]"></shared-ui-icon>
  <span @appearOpacity
        *ngIf="!loading"
        class="text"
        #text>
    <ng-content></ng-content>
  </span>
</ng-template>
