<div class="form-field-file">
  <div class="pb-10 width100">
    <div class="mb-15 display-flex align-baseline form-field-input border-block">
      <mat-label>{{fieldData.title}}{{fieldData.require ? ' *' : ''}}</mat-label>
      <div
        @appearFromLeft
        *ngIf="imageSource"
        class="form-field-file-image">
        <div class="position-relative mat-elevation-z3">
          <div class="form-field-file-close mat-elevation-z4" (click)="deleteImage()">x</div>
          <img [src]="imageSource" alt="">
        </div>
      </div>
      <div
        [@inputAnim]="inputStatus"
        class="input">
        <input #input
               type="file"
               (change)="onFileChange($event)"/>
      </div>
    </div>
  </div>
</div>
