<div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start start"
     style="flex-direction: row; box-sizing: border-box; display: flex; place-content: center flex-start; align-items: center;">
  <div fxLayout="column" fxLayoutAlign="center start"
       style="flex-direction: column; box-sizing: border-box; display: flex; place-content: flex-start center; align-items: flex-start;">
    <div class="mt-16" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon
        class="secondary-text s-18 mat-icon notranslate material-icons mat-icon-no-color"
        role="img" aria-hidden="true">home
      </mat-icon>
      <mat-icon
        class="secondary-text s-16 mat-icon notranslate material-icons mat-icon-no-color"
        role="img" aria-hidden="true">chevron_right
      </mat-icon>
      <!--
      <span class="secondary-text">Documentation</span>
      <mat-icon
        class="secondary-text s-16 mat-icon notranslate material-icons mat-icon-no-color"
        role="img" aria-hidden="true">chevron_right
      </mat-icon>
      <span class="secondary-text">Components</span>-->
      <div class="h2">{{title}}</div>
    </div>
  </div>

<!--  <div class="find-block">
  <mat-form-field>
    <div class="find-field">
      <input matInput #filterInput placeholder="Поиск">
      <button mat-button [color]="'primary'" (click)="applyFilter(filterInput)" class="w-100">
        Найти
      </button>
      <button *ngIf="searchText" mat-button
              (click)="applyFilter(filterInput, true)"
              class="ml-5 w-100">
        Отмена
      </button>
    </div>
  </mat-form-field>
  </div>-->
</div>

