@import "perfect-scrollbar";

.blog_info .blog_meta li span i {
  padding-left: 10px !important;
  line-height: 15px !important;;
}

.blog_info {
  padding-top: 0 !important;
}

.blog_area {
  padding-bottom: 0;
}

/*@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}*/

.banner_content {
  width: 600px;
}

.home_banner_area .banner_inner .home_left_img {
  padding-top: 50px;
  padding-bottom: 30px;
}

.single-footer-widget {
  padding: 30px 50px;
}

.blog_page {
  .home_banner_area .banner_inner{
    .col-lg-9 {
      margin-top: 15px !important;
    }

    .home_left_img {
      padding-top: 14px;
      padding-bottom: 0;
    }
  }
  .blog_area {
    padding-top: 30px
  }
}
