@import "~@wt/scss/variables";

:host {
  display: inline-flex;
  align-items: center;
}

.orange_gray {
  color: $orange_grey !important;
}

.color-yellow {
  color: $yellow !important;
}

.color-red {
  color: $color_red !important;
}

.color-white {
  color: rgba(255, 255, 255, 0.6) !important;
}
