<div fxLayout="column"
     class="position-relative form-field"
     [ngClass]="{
     'border-block textarea-field mb-21': type === 'textarea',
      'form-field-error': (state.isSubmitted || !stateControl.isPristine || stateControl.isTouched) && !stateControl.isValid}">

  <ng-container [ngSwitch]="type">

    <ng-container *ngSwitchCase="'select'">
      <shared-form-field-select
        [title]="title"
        [value]="modelControl"
        [field]="field"
        [options]="options"
        [require]="isRequired"
        [loading]="loading"
        (changeField)="changeField($event)"
        (openedChange)="openedChange($event)"
      ></shared-form-field-select>
    </ng-container>

    <ng-container *ngSwitchCase="'slide-toggle'">
      <shared-form-field-slide-toggle
        [title]="title"
        [value]="modelControl"
        [field]="field"
        [require]="isRequired"
        (changeField)="changeField($event)"
      ></shared-form-field-slide-toggle>
    </ng-container>

    <ng-container *ngSwitchCase="'select-multiple'">
      <shared-form-field-select
        [title]="title"
        [value]="modelControl"
        [field]="field"
        [options]="options"
        [multiple]="true"
        [require]="isRequired"
        [loading]="loading"
        (changeField)="changeField($event)"
        (openedChange)="openedChange($event)"
      ></shared-form-field-select>
    </ng-container>

    <ng-container *ngSwitchCase="'textarea'">
      <div class="textarea-field-width">
        <label [id]="'field-' + field">{{title}}{{isRequired ? ' *' : ''}}</label>
        <textarea matInput [required]="isRequired" [ngrxFormControlState]="stateControl"></textarea>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'textarea-editor'">
      <div class="textarea-field-width">
        <label [id]="'field-' + field">{{title}}{{isRequired ? ' *' : ''}}</label>
        <angular-editor [(ngModel)]="modelControl"
                        [config]="editorConfig"
                        (ngModelChange)="editorChange($event)"
                        [ngModelOptions]="{standalone: true}"></angular-editor>
      </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <mat-form-field appearance="outline" class="width100">
        <mat-label>{{title}}</mat-label>
        <input matInput [required]="isRequired" [ngrxFormControlState]="stateControl">
      </mat-form-field>
    </ng-container>

  </ng-container>

  <shared-form-field-spinner *ngIf="loading"></shared-form-field-spinner>
  <shared-form-field-error
    *ngIf="stateControl.isTouched && !stateControl.isValid"
    [field]="stateControl"
    [ngClass]="{'textarea-error': type === 'textarea'}"
  ></shared-form-field-error>
</div>
